.header{
    margin: 20px;
    position: absolute;
    top: 20px;
    left: 25%;
    right: 25%;
}

body{
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: goldenrod;
    text-align: center;
    font-family: cursive, Arial, sans-serif;
}

form{
    position: fixed;
    bottom: 80px;
    right: 25%;
    left: 25%;
    color: goldenrod;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.score{
    text-align: right;
    color: goldenrod;
    font-size: 20px;
}

.input{
    width:100%;
    border-style: solid;
    border-width: 4px;
    border-color: goldenrod;
    box-sizing: border-box;
    font-size: 30px;
    padding: 10px;
    text-align: center;
    color: goldenrod;
    font-weight: bold;
    border-radius: 25px;
    font-family: cursive;
    
}

.input ::placeholder{
    color: azure;
    font-family: cursive;
}

.btn{
    background-color: goldenrod;
    color: aliceblue;
    display: block;
    border: none;
    border-radius: 25px;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    font-family: cursive;
    margin: 20px 0;
}

.btn:hover{
    cursor: pointer;
    filter: brightness(0.9);
}

@media (min-width: 300px) and (max-width: 500px) {
    .header{
        margin: 0;
        position: absolute;
        right: 0px;
        left: 0px;
        white-space: nowrap;
        font-size: 16px;
        font-weight: bolder;

    }
    
    body{
        margin: 0;
        display: grid;
        grid-template-columns: 1fr;
        height: 100vh;
        justify-content: center;
        align-items: center;
        background-color: goldenrod;
        text-align: center;
        font-family: cursive;
    }
    
    form{
        position: absolute;
        top: 25%;
        right: 15%;
        left: 10%;
        color: goldenrod;
        background-color: white;
        border-radius: 10px;
        padding: 1px 40px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        width: 50%;
        height: fit-content;
        text-align: center;
    }
    
    .score{
        text-align: right;
        color: goldenrod;
        font-size: 12px;
    }
    
    .input{
        width:100%;
        border-style: solid;
        border-width: 1px;
        border-color: goldenrod;
        box-sizing: border-box;
        font-size: 15px;
        padding: 5px;
        text-align: center;
        color: goldenrod;
        font-weight: bold;
        border-radius: 25px;
        font-family: cursive;        
    }
    
    .input ::placeholder{
        color: azure;
        font-family: cursive;
    }
    
    .btn{
        background-color: goldenrod;
        color: aliceblue;
        display: block;
        border: none;
        border-radius: 25px;
        width: 100%;
        padding: 5px;
        font-size: 20px;
        font-family: cursive;
        
    }
    
    .btn:hover{
        cursor: pointer;
        filter: brightness(0.9);
    }
    
}
